
  <script src="javascripts/main.js"></script>
  <header>
        <h1>Antoine POUILLAUDE</h1>
        <p>{{ 'TITLE' | translate }}</p>
        <script type="IN/MemberProfile" data-id="https://www.linkedin.com/pub/antoine-pouillaude/90/326/644" data-format="inline" data-related="false"></script>
        <div id="lang">
        <button class="btn btn-default btn-sm btn-right lang" ng-click="toggleLanguage(nextLang)">{{ toggleButton }}</button></div>
        <span id="logo"></span>
      </header>
      <div id="banner">
      <!-- <button class="btn btn-default btn-sm btn-left" ng-click="switchLanguage('fr')" translate="BUTTON_TEXT_FR"></button>
           <span class="splitter"></span> --> 
        <button class="button lang" ng-click="toggleLanguage(nextLang)">{{ toggleButton }}</button>
        <span id="logo"></span>

        <a href="https://github.com/AntoineC-12" class="button fork"><strong> {{ 'GITHUB_PROFILE' | translate }}</strong></a>
      </div><!-- end banner -->
    <div class="wrapper">
      <nav>
        <ul></ul>
      </nav>
      <my-section> 
      <section class="text">
        <h1 class="cv" id="title">{{ 'RESUME_TITLE' | translate }}</h1>
<!--         <p>
        <a href="/internship/index.html">{{ 'VIEW_PRESENTATION' | translate }}</a> {{ 'MADE_WITH' | translate }} <a href="https://github.com/bartaz/impress.js/">impress.js</a>
        </p> -->
        <h2>
<a name="about" class="anchor" href="#about"><span class="octicon octicon-link"></span></a>{{ 'ABOUT' | translate }}</h2>
<p>{{ 'ABOUT_BODY' | translate }}</p>


        <h2>
<a name="education" class="anchor" href="#education"><span class="octicon octicon-link"></span></a>{{ 'EDU' | translate }}</h2>

<p><ul>
  <li>
  <p><strong>Diplôme d'ingénieur en informatique</strong>{{ 'EDU_INGE_TRANS' | translate }}<span class="right">{{ 'EDU_INGE_PERIOD' | translate }}</span><br>
  <span class="tabulation"><em><a href="http://www.utc.fr/">Université de Technologie de Compiègne</a></em>, Compiègne, FRANCE</span><br>
  <span class="tabulation">{{ 'EDU_INGE_DEGREE' | translate }}</span></p>
  </li>
  <li>
  <p><strong>{{ 'EDU_EXCH' | translate }}</strong><span class="right">{{ 'EDU_EXCH_PERIOD' | translate }}</span><br>
  <span class="tabulation"><em><a href="http://ww2.uri.edu//">University of Rhode Island</a></em>, Kingston, RI, USA</span><br>
  <span class="tabulation">{{ 'EDU_EXCH_DEGREE' | translate }}</span></p>
  </li>
  <li>
  <p><strong>Classe Préparatoire </strong>{{ 'EDU_PREPA_TRANS' | translate }}<span class="right">{{ 'EDU_PREPA_PERIOD' | translate }}</span><br>
  <span class="tabulation"><em><a href="http://montaigne-bordeaux.fr/">Lycée Michel de Montaigne</a></em>, Bordeaux, FRANCE <br></span></p>
  </li>
  <li>
  <p><strong>Baccalauréat Scientifique</strong>{{ 'EDU_BAC_TRANS' | translate }}<span class="right">{{ 'EDU_BAC_DATE_GRAD' | translate }}</span><br>
  <span class="tabulation"><em>Lycée Bernard Palissy</em>, Saintes, FRANCE <br></span></p>
  </li>
</ul></p>

<h2>
<a name="experience" class="anchor" href="#experience"><span class="octicon octicon-link"></span></a>{{ 'EXP' | translate }}</h2>

<h3 class="subsection" id="project_school">{{ 'EXP_SCHOOL' | translate }}</h3>
<p><ul>
  <li>
  <p><strong>{{ 'EXP_SCHOOL_NM' | translate }}</strong>{{ 'EXP_SCHOOL_NM_DESC' | translate }}
    <ul>
    <li>{{ 'EXP_SCHOOL_NM_LI1' | translate }}</li>
    <li>{{ 'EXP_SCHOOL_NM_LI2' | translate }}</li>
    <li>{{ 'EXP_SCHOOL_NM_LI3' | translate }}</li>
    </ul>
    <a href="https://github.com/AntoineC-12/Notify">{{ 'EXP_SCHOOL_GIT_A' | translate }}</a>{{ 'EXP_SCHOOL_NM_GIT' | translate }}
  </p><br>  
  </li>
  <li>
  <p><strong>{{ 'EXP_SCHOOL_DB' | translate }}</strong>{{ 'EXP_SCHOOL_DB_DESC' | translate }}
    <ul>
    <li>{{ 'EXP_SCHOOL_DB_LI1' | translate }}</li>
    <li>{{ 'EXP_SCHOOL_DB_LI2' | translate }}</li>
    <li>{{ 'EXP_SCHOOL_DB_LI3' | translate }}</li>
    <li>{{ 'EXP_SCHOOL_DB_LI4' | translate }}</li>
    <li>{{ 'EXP_SCHOOL_DB_LI5' | translate }}</li>
    <li>{{ 'EXP_SCHOOL_DB_LI6' | translate }}</li>
    </ul>
    <a href="https://github.com/AntoineC-12/NF17_projet">{{ 'EXP_SCHOOL_GIT_A' | translate }}</a>{{ 'EXP_SCHOOL_DB_GIT' | translate}}
  </p><br>
  </li>
  <li>
  <p><strong>{{ 'EXP_SCHOOL_MT' | translate }}</strong>{{ 'EXP_SCHOOL_MT_DESC' | translate }}<a href="https://github.com/AntoineC-12/MT10-Sage">{{ 'EXP_SCHOOL_GIT_A' | translate }}</a>{{ 'EXP_SCHOOL_MT_GIT' | translate }} 
    <ul>
    <li>{{ 'EXP_SCHOOL_MT_LI1' | translate }}</li>
    <li>{{ 'EXP_SCHOOL_MT_LI2' | translate }}</li>
    <li>{{ 'EXP_SCHOOL_MT_LI3' | translate }}</li>
    </ul>
  </p><br>
  </li>
  <li>
  <p><strong>{{ 'EXP_SCHOOL_MQ' | translate }}</strong>{{ 'EXP_SCHOOL_MQ_DESC_P1' | translate }}</p>
  <p>{{ 'EXP_SCHOOL_MQ_DESC_P21' | translate }}<a href="https://airplug.hds.utc.fr/doku.php?id=start">Airplug</a>{{ 'EXP_SCHOOL_MQ_DESC_P22' | translate }} 
    <ul>
    <li>{{ 'EXP_SCHOOL_MQ_LI1' | translate }}</li>
    <li>{{ 'EXP_SCHOOL_MQ_LI2' | translate }}</li>
    <li>{{ 'EXP_SCHOOL_MQ_LI3' | translate }}</li>
    <li>{{ 'EXP_SCHOOL_MQ_LI4' | translate }}</li>
    </ul>
  </p><br>
  </li>
  <li>
  <p><strong>{{ 'EXP_SCHOOL_IA' | translate }}</strong>{{ 'EXP_SCHOOL_IA_DESC' | translate }}
    <ul>
    <li>{{ 'EXP_SCHOOL_IA_LI1' | translate }}</li>
    <li>{{ 'EXP_SCHOOL_IA_LI2' | translate }}</li>
    <li>{{ 'EXP_SCHOOL_IA_LI3' | translate }}</li>
    <li>{{ 'EXP_SCHOOL_IA_LI4' | translate }}</li>
    </ul>
  </p><br>
  </li>
</ul></p>
<h3 class="subsection" id="project_personal">{{ 'EXP_PERSO' | translate }}</h3>
<p><ul>
  <li>
  <p><strong>{{ 'EXP_PERSO_WB' | translate }}</strong>{{ 'EXP_PERSO_WB_DESC' | translate }}
    <ul>
    <li>{{ 'EXP_PERSO_WB_LI1' | translate }}</li>
    <li>{{ 'EXP_PERSO_WB_LI2' | translate }}</li>
    <li>{{ 'EXP_PERSO_WB_LI3' | translate }}</li>
    <li>{{ 'EXP_PERSO_WB_LI4' | translate }}</li>
    </ul>
  </p>
<!--   <p>{{ 'EXP_PERSO_WB_END' | translate }}</p> -->
  </li>
</ul></p>

<h3 class="subsection" id="project_personal">{{ 'EXP_PRO' | translate }}</h3>

<p><ul>
  <li>
  <p><strong>{{ 'EXP_PRO_NVL' | translate }}</strong><span class="right">{{ 'EXP_PRO_NVL_PERIOD' | translate }}</span><br>
  <em><a href="http://groupe.nvl.fr/">Groupe NVL</a>, Idline</em>, Angoulême, FRANCE<br>
  {{ 'EXP_PRO_NVL_DESC' | translate }}</p>
  </li>
  <li>
  <p><strong>{{ 'EXP_PRO_MET' | translate }}</strong><span class="right">{{ 'EXP_PRO_MET_PERIOD' | translate }}</span><br>
  <em><a href="http://www.metadot.com/">Metadot Corporation</a></em>, Austin, TX, USA <br>
  {{ 'EXP_PRO_MET_DESC_P1' | translate }}<a href="http://www.mojohelpdesk.com/">Mojohelpdesk</a>{{ 'EXP_PRO_MET_DESC_P2' | translate }}
  </p>
  </li>
  <li>
  <p><strong>{{ 'EXP_PRO_CASS' | translate }}</strong><span class="right">{{ 'EXP_PRO_CASS_PERIOD' | translate }}</span><br>
  <em><a href="http://www.defenceandsecurity-airbusds.com/fr_FR/web/guest/cognac">Cassidian Aviation Training Services</a></em>, Cognac Air, FRANCE <br>
  {{ 'EXP_PRO_CASS_DESC' | translate }}</p>
  </li>
  <li>
  <p><strong>{{ 'EXP_PRO_BAC' | translate }}</strong><span class="right">{{ 'EXP_PRO_BAC_PERIOD' | translate }}</span><br>
  <em>{{ 'EXP_PRO_BAC_COMP' | translate }}</em>, Chaniers, FRANCE <br></span>
  {{ 'EXP_PRO_BAC_DESC' | translate }}</p>
  </li>
</ul></p>

<h2>
<a name="skills" class="anchor" href="#skills"><span class="octicon octicon-link"></span></a>{{ 'SKILLS' | translate }}</h2>

<h3 class="subsection" id="programming_skills">{{ 'SKILLS_COMPU' | translate }}</h3>
<p><ul>
  <li>{{ 'SKILLS_COMPU_C' | translate }}</li>
  <li>{{ 'SKILLS_COMPU_JAVA' | translate }}</li>
  <li>Ruby</li>
  <li>Go</li>
  <li>Lisp</li>
  <li>MASM</li>
  <li>Perl</li>
  <li>Python</li>
  <li>Bash</li>
  <li>Mathematica</li>
  <li>Web :
  <ul>
    <li>PHP</li>
    <li>{{ 'SKILLS_COMPU_JAVASCRIPT' | translate }}</li>
    <li>{{ 'SKILLS_COMPU_RAILS' | translate }}</li>
    <li>HTML/XML</li>
    <li>SQL (Oracle, PostgreSQL, MySQL)</li>
    <li>CSS</li>
  </ul>
  <li>{{ 'SKILLS_COMPU_OFF' | translate }}</li>
  <li>{{ 'SKILLS_COMPU_OS' | translate }}</li> 
</ul></p>

<h3 class="subsection" id="lang_skills">{{ 'SKILLS_LANG' | translate }}</h3>
<p><ul>
    <li>{{ 'SKILLS_LANG_EN' | translate }}</li>
    <li>{{ 'SKILLS_LANG_FR' | translate }}</li>
    <li>{{ 'SKILLS_LANG_ES' | translate }}</li>
    <li>{{ 'SKILLS_LANG_CH' | translate }}</li>
</ul></p>

<h3 class="subsection" id="others_skills">{{ 'SKILLS_OT' | translate }}</h3>
<p><ul>
  <li>{{ 'SKILLS_ELE' | translate }}</li>
  </ul></p>

<h2>
<a name="misc" class="anchor" href="#misc"><span class="octicon octicon-link"></span></a>{{ 'MISC' | translate }}</h2>

<p><ul>
  <li>
  <strong>{{ 'MISC_HOB' | translate }}</strong>
  <ul>
    <li>{{ 'MISC_HOB_PLA' | translate }}</li>
    <li>{{ 'MISC_HOB_PIA' | translate }}</li>
  </ul>
  </li>
  <li>
  <strong>{{ 'MISC_SPO' | translate }}</strong>
  <ul>
    <li>{{ 'MISC_SPO_SW' | translate }}</li>
    <li>Tennis</li>
    <li>Badminton</li>
  </ul>
  </li>
  <li>
  <strong>{{ 'MISC_ASS' | translate }}</strong>
  <ul>
    <li>{{ 'MISC_ASS_POKER' | translate }}</li>
    <li>{{ 'MISC_ASS_FAB' | translate }}<br>
    <a href="http://assos.utc.fr/fablab">assos.utc.fr/fablab</a></li>
  </ul>
  </li>
</ul></p>

</li>
</ul>
</p>
</section>
      </my-section>
      <footer>
        <p><small>Hosted on GitHub Pages</a></small></p>
      </footer>
    </div>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->

  <script src="lang.js"></script>
